<!-- Page Wrapper -->
<div id="wrapper">
  <app-sidebar>sidebar</app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Begin NavBar -->
    <app-navbar>navbar</app-navbar>
    <!-- end navbar -->
    <!-- Begin Center Content -->
    <app-center-content>centercontent</app-center-content>
    <app-footer-content>footer</app-footer-content>
    <!-- End Center Content -->
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>
